<%- include("header", {title: title}); %>

<h1>Welcome to the Demo!</h1>
<p>Hello this is a demo page used to show cardano functionality! :)<br>It does in no way shape or form show the finished product, is merely a testing-ground and learning tool.</p>
