Hello this is a demo page used to show cardano functionality! :)
<form method="post" action="/wallet/create" style="margin: auto; width: 450px;">
    <br>
    <legend>Create Wallet</legend>
    <input type="text" placeholder="Wallet name" name="name" required>


    <input type="submit" name="doit" value="Submit">

</form>